Format: 3.0 (quilt)
Source: braes-messenger
Binary: braes-messenger
Architecture: any
Version: {{MAJOR_VER}}.{{MINOR_VER}}.{{SUB_VER}}-{{BUILD_VER}}
Maintainer: Virgil Security <support@virgilsecurity.com>
Homepage: https://virgilsecurity.com
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 8)
Package-List:
 braes-messenger deb IOT/SDK optional arch=any
