[Desktop Entry]
Name=braes-messenger
GenericName=braes-messenger
Comment=Braes security messenger
Exec=braes-messenger
Terminal=false
Type=Application
Encoding=UTF-8
Icon=braes-messenger.png
Categories=Application
Keywords=braes-messenger
X-Desktop-File-Install-Version=0.23
