[Desktop Entry]
Name=Area52-messenger
GenericName=Area52-messenger
Comment=Area52 security messenger
Exec=area52-messenger
Terminal=false
Type=Application
Encoding=UTF-8
Icon=area52-messenger.png
Categories=Application
Keywords=area52-messenger
X-Desktop-File-Install-Version=0.23
