[Desktop Entry]
Name=baes-messenger
GenericName=baes-messenger
Comment=Baes security messenger
Exec=virgil-messenger
Terminal=false
Type=Application
Encoding=UTF-8
Icon=baes-messenger.png
Categories=Application
Keywords=baes-messenger
X-Desktop-File-Install-Version=0.23
